@import "./_reset";
@import "./card";
@import "https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap";
@import "https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap";

body {
  font-family: "Poppins", sans-serif;
}

header {
  min-height: 658px;
  background-image: url(../images/img-hero-hotel-terrace.jpg);
  background-position: center;
  background-size: cover;
  padding: 80px;

  h1 {
    max-width: 733px;

    font-size: 64px;
    font-weight: 700;
    line-height: 77.45px;
    text-align: left;
  }

  section {
    min-height: 658px;
    ul {
      padding: 0;
      min-height: 80px;
      background-color: #fff;
      border-radius: 18px;
      align-items: center;

      li {
        a,
        img {
          display: flex;
          width: fit-content;
          margin: auto;
          padding: 0;

          text-decoration: none;
        }
      }
    }

    @media (max-width: 768px) {
      ul {
        display: flex;
        flex-direction: column;
      }
    }
  }
}

main {
  .service-section {
    background-color: #f3f3f3;

    padding: 50px 0;
    gap: 20px;

    div {
      width: fit-content;
      margin: auto;

      .box-1 {
        margin-bottom: 20px;
      }
    }
  }
}
